
#map { 
    width: 100%;
    height: 500px; }
.boton{
        background-color: blue;
        color: white;
        height:40px;
        font-size:20px ;
    }
.arealabel{
        font-size: 20 px;
    }
.distancialabel{
        font-size: 20 px;
    }
